/* custom css line numbering */
.code-highlight {                   /* <pre> class that we will use */ 
    counter-reset: lineNumber;      /* resetes counter to prepare for use */
    border: 2px solid rgba(255, 128, 64, 0.5); /* orange border around code */
    border-radius: 4px;             /* creates a rounded border */ 
} .code-highlight code {            /* <code> tags around each line of code */
    counter-increment: lineNumber;  /* counter that will be incremented */
    font-family: Consolas, Monaco, monospace; /* specific font to use */
    word-wrap: break-word;          /* forces word wrap */
    font-size: 14px;                /* this allows 80 chars for the div I use */
    line-height: 150%;              /* space betwen lines for readability */
    -moz-tab-size: 4;               /* specific tab width that is*/
    -o-tab-size: 4;                 /* to be used to prevent display of */
    tab-size: 4;                    /* smaller or larger tabs widths */
} .code-highlight code:before {     /* defines the left sidebar for numbering */
    content: counter(lineNumber);   /* incremented counter to display */
    color: gray;                    /* medium gray line number text */
    display: inline-block;          /* constant width of line number area */
    min-width: 3em;                 /* specific width of line number area */
    background-color: whitesmoke;   /* light gray background for line numbers */
    text-align: right;              /* line number align on right side */
    padding-right: 0.25em;          /* prevents line number from hitting edge */
    margin-right: 0.25em;           /* spacer between line number and code */
    border-right: 2px solid rgba(255, 128, 64, 0.5); /* orange vertical line */
    -webkit-touch-callout: none;    /* these stop line numbers from being */
    -webkit-user-select: none;      /* selected when dragging the mouse */
    -khtml-user-select: none;       /* over the code, this allows a user */
    -moz-user-select: none;         /* to select the code and copy it */
    -ms-user-select: none;          /* without copying the line numbers */
    user-select: none;              /* (IE blocks selection starting only) */
}